/* Import fonts from google font */
@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');

:root {
  --primary-gradient: linear-gradient(to right, #4e4376, #2b5876);
  --mango-gradient: linear-gradient(to right, #778899, #616D7E);
  --text-color: #F7F9F9;
  --Montserrat: "Montserrat", cursive;
  --Lobster: "Lobster", cursive;
  --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
  --border-color: rgba(0, 0, 0, 0.329);
}

body {
  display: block;
  overflow: hidden;
  background: var(--mango-gradient);
  size: auto;
  /*background-color: rgba(20, 50, 100, 10);
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position:top;*/
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
}
#anidiv{
  animation : boxanimation 3s infinite;
}
h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
 	color: rgb(255, 245, 238);
  padding-top: 10%;
  padding-bottom: 5%;
  /*box-shadow: 0px 10px 14px -7px #276873;*/
}
h2{
  display: inline;
  font-family: fantasy;
  font-size: 1.5rem;
  color: rgb(255, 245, 238);
  padding: 5px 1px;
}
@keyframes boxanimation {
  50% {box-shadow: 0px 10px 14px -2px #276873;
  }
}
.wrapper-login {
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
  grid-auto-rows: minmax(30%, auto);
  grid-row-gap: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
}
button {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
    cursor: pointer;
}
button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
  cursor: pointer;
}
button:active {
	position:relative;
	top:1px;
}
input{
  box-shadow: 0px 10px 14px -7px #276873;
  padding: 0px 5px;
}

