@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');
var modal = document.getElementById('id01');
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
:root {
  --primary-gradient: linear-gradient(to right, #4e4376, #2b5876);
  --mango-gradient: linear-gradient(to right, #778899, #616D7E);
  --text-color: #F7F9F9;
  --Montserrat: "Montserrat", cursive;
  --Lobster: "Lobster", cursive;
  --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
  --border-color: rgba(0, 0, 0, 0.329);
}
body {
  overflow: hidden;
  background: var(--mango-gradient);
  size: auto;
  /*background-color: rgba(20, 50, 100, 10);
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position:top;*/
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
}
.modal {
  display:contents;float: inherit; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}
span.psw {
  float: right;
  padding-top: 16px;
}
button {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
    cursor: pointer;
}
button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
  cursor: pointer;
}
button:active {
	position:relative;
	top:1px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  box-shadow: 0px 10px 14px -2px #276873;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
 	color: rgb(255, 245, 238);
  padding-top: 10%;
  padding-bottom: 5%;
  /*box-shadow: 0px 10px 14px -7px #276873;*/
}
h2{
  display: inline;
  font-family: fantasy;
  font-size: 1.5rem;
  color: rgb(255, 245, 238);
}
